<template>
  <div class="main">
    <div class="title">
      {{ title }}
      <div class="score"></div>
    </div>
    <div class="field"
         v-if="!victory && !draw">
      <div class="row"
           v-for="(row, i) in field"
           :key="i">
        <div class="cell"
             v-for="(cell, j) in row"
             :key="j"
             @click="action(i, j)">
          {{ field[i][j] | fixFilter }}
        </div>
      </div>
    </div>
    <div class="title"
         v-else-if="victory && !draw">Победа за {{ currentCellVal | fixFilter }}</div>
    <div class="title"
         v-else="draw">Ничья!</div>
    <button class="btn"
            @click="restartGame">Restart</button>
  </div>

</template>

<script>
export default {
  name: 'game-tic-tac-toe',
  components: {},
  props: {},
  data() {
    return {
      title: 'Шарики-ролики',
      field: [],
      defaultCellVal: 0,
      currentCellVal: null,
      currentTurn: 0,
      playerTurnVal: { x: 1, o: -1 },
      victory: false,
      draw: false,
    }
  },
  filters: {
    fixFilter: function(value) {
      if (!value) {
        return '_'
      }
      return value > 0 ? 'X' : 'O';
    }
  },
  computed: {
  },
  methods: {
    generateField() {
      let field = [];
      for (let i = 0; i < 3; i++) {
        let row = [];
        for (let j = 0; j < 3; j++) {
          row.push(this.defaultCellVal);
        }
        field.push(row);
      }
      return this.field = field;
    },
    restartGame() {
      this.currentCellVal = null;
      this.victory = false;
      this.draw = false;
      this.currentTurn = 0,
      this.generateField();
    },
    action(i, j) {
      this.writeValToCell(i, j);
    },
    writeValToCell(i, j) {
      if (this.field[i][j] !== this.defaultCellVal) {
        return;
      }
      if (this.currentTurn % 2 === 0) {
        this.$set(this.field[i], j, this.playerTurnVal.x)
        this.currentCellVal = this.playerTurnVal.x
      } else {
        this.$set(this.field[i], j, this.playerTurnVal.o)
        this.currentCellVal = this.playerTurnVal.o
      }
      this.currentTurn++
      this.checkFieldForWin(this.field)
    },
    checkFieldForWin(data) {
      if (this.currentTurn === (data.length * data.length - 2)) {
        this.draw = true;
      }
      if (this.checkRowForWin(data)
          || this.checkColForWin(data)
          || this.checkDiagDownForWin(data)
          || this.checkDiagUpForWin(data)) {
        this.victory = true;
      }
    },
    checkRowForWin(data) {
      for (let i = 0; i < data.length; i++) {
        let sum = 0;
        for (let j = 0; j < data[i].length; j++) {
          sum += data[i][j]
        }
        if (Math.abs(sum) === data[i].length) {
          return true
        }
      }
    },
    checkColForWin(data) {
      for (let i = 0; i < data.length; i++) {
        let sum = 0;
        for (let j = 0; j < data[i].length; j++) {
          sum += data[j][i]
        }
        if (Math.abs(sum) === data[i].length) {
          return true
        }
      }
    },
    checkDiagDownForWin(data) {
      let sum = 1;
      for (let i = 1; i < data.length; i++) {
        for (let j = 1; j < data[i].length; j++) {
          if (i !== j || !data[i][j]) {
            continue;
          }
          if (data[i][j] === data[i - 1][j - 1]) {
            sum++
          }
        }
      }
      return sum === data.length
    },
    checkDiagUpForWin(data) {
      let sum = 1;
      for (let i = data.length - 1; i > 0; i--) {
        for (let j = 0; j < data[i].length -1; j++) {
          if ((i + j) !== data.length - 1 || !data[i][j]) {
            continue;
          }
          if (data[i][j] === data[i-1][j+1]) {
            sum++
          }
        }
      }
      return sum === data.length
    },
  },
  watch: {},
  created() {
    this.generateField()
  },
}
</script>

<style>
.main {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    align-self: center;
  }
  .field {
    .row {
      display: flex;
      justify-content: space-around;
      .cell {
        cursor: pointer;
      }
    }
  }
}
</style>
