<template>
  <div id="app">
    <game-tic-tac-toe/>
  </div>
</template>

<script>

import gameTicTacToe from './components/game-tic-tac-toe.vue'
export default {
  name: 'app',
  components: {
    gameTicTacToe
  },
}
</script>

<style scoped>
</style>
